<footer class="footer mt-auto mb-auto py-3 bg-dark">
  <div class="text-center text-white">
    <p>&copy; Copyright 2022<br>
    Mã số sinh viên: 20120454<br>
    Họ và tên: Lê Công Đắt<br>
    Email: <a href="mailto:20120454@student.hcmus.edu.vn" class="text-white">20120454@student.hcmus.edu.vn</a></p>
  </div>
</footer>