<div class="card mb-3 mt-3 ms-auto me-auto" style="max-width: 720px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/img/profile.jpg" class="img-fluid rounded-circle mt-auto ms-2 mb-auto">
        </div>
        <div class="col-md-8">
            <div class="card-body mt-auto mb-auto">
                <h5 class="card-title mt-4 mb-4"> {{u.Name}}</h5>
                <p><b>Username:</b> {{u.Username}}</p>
                <p><b>Email:</b> {{u.Email}}</p>
                <p><b>Date of birth:</b> {{u.DOB}}</p>
            </div>
        </div>
    </div>
</div>